.match-list {
    margin-right: 10px;
    padding-left: 0;
    list-style-type: none;
    overflow: auto;
    margin-top: 87px;
    // border-left: 1px solid rgba(0, 0, 0, 0.2);
    // border-right: 1px solid rgba(0, 0, 0, 0.2);
    // border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 247px;
    position: absolute;
    background-color: aliceblue;
    z-index: 100;
    &__item {
        display: flex;
        align-items: center;
        padding: 0 8px;
        height: 35px;
        text-transform: capitalize;
        font-size: 14px;
        width: 80%;
        margin-left: 5%;
        margin-bottom: 8px;
        &-icon {
            font-size: 16px;
        }
        img {
            margin-right: 5px;
        }
        &:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.05);
        }
    }
}