    @import "./components/searchbar/_match-list";
    @import "./components/searchbar/_searchbar";
    @import "./components/navbar/_navbar";
    @import "./components/items-list/_items-list";
    * {
        box-sizing: border-box;
    }
    
    body {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        background: white;
        display: flex;
        justify-content: center;
    }
    
    .app {
        border-radius: 5px;
        border: 2px solid #8f8585;
        min-height: 450px;
        max-height: 98vh;
        margin: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 320px;
        background-color: #FAFAFA;
        h1 {
            margin: 0 0 15px 0;
            font-size: 22px;
            padding-top: 15px;
        }
    }
    
    .linkin-icons {
        font-size: 8px;
        display: flex;
        padding: 5px;
        a {
            margin: 0 3px;
        }
    }