    @import "./components/searchbar/_match-list";
    @import "./components/searchbar/_searchbar";
    @import "./components/items-list/_items-list";
    * {
        box-sizing: border-box;
    }
    
    body {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        background: white;
        margin: 0;
    }
    
    .app {
        border-radius: 5px;
        border: 2px solid #8f8585;
        padding: 15px 20px 15px 15px;
        height: 565px;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 320px;
        h1 {
            color: var(--group-background-focus);
        }
    }