.match-list {
  margin-right: 10px;
  padding-left: 0;
  list-style-type: none;
  overflow: auto;
  margin-top: 93px;
  width: 247px;
  position: absolute;
  z-index: 100;
  background-color: white;
  border-radius: 5px;
}

.match-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 8px;
  height: 35px;
  text-transform: capitalize;
  font-size: 14px;
  width: 80%;
  margin-left: 5%;
  margin-bottom: 8px;
}

.match-list__item-icon {
  font-size: 16px;
}

.match-list__item img {
  margin-right: 5px;
}

.match-list__item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

:root {
  --input-color: #99A3BA;
  --input-border: #CDD9ED;
  --input-background: #fff;
  --input-placeholder: #CBD1DC;
  --input-border-focus: #275EFE;
  --group-color: var(--input-color);
  --group-border: var(--input-border);
  --group-background: #EEF4FF;
  --group-color-focus: #fff;
  --group-border-focus: var(--input-border-focus);
  --group-background-focus: #678EFE;
}

.form-field {
  display: block;
  width: 100%;
  padding: 8px 16px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 6px;
  border: 1px solid var(--input-border);
  background: var(--input-background);
  -webkit-transition: border .3s ease;
  transition: border .3s ease;
}

.form-field::-webkit-input-placeholder {
  color: var(--input-placeholder);
}

.form-field:-ms-input-placeholder {
  color: var(--input-placeholder);
}

.form-field::-ms-input-placeholder {
  color: var(--input-placeholder);
}

.form-field::placeholder {
  color: var(--input-placeholder);
}

.form-field:focus {
  outline: none;
  border-color: var(--input-border-focus);
}

.form-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 285px;
}

.form-group > button,
.form-group .form-field {
  white-space: nowrap;
  display: block;
}

.form-group > button:not(:first-child):not(:last-child),
.form-group .form-field:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.form-group > button:first-child,
.form-group .form-field:first-child {
  border-radius: 6px 0 0 6px;
}

.form-group > button:last-child,
.form-group .form-field:last-child {
  border-radius: 0 6px 6px 0;
}

.form-group > button:not(:first-child),
.form-group .form-field:not(:first-child) {
  margin-left: -1px;
}

.form-group .form-field {
  position: relative;
  z-index: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 1%;
  margin-top: 0;
  margin-bottom: 0;
}

.form-group > button {
  text-align: center;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 25px;
  color: var(--group-color);
  background: var(--group-background);
  border: 1px solid var(--group-border);
  -webkit-transition: background .3s ease, border .3s ease, color .3s ease;
  transition: background .3s ease, border .3s ease, color .3s ease;
}

.form-group:focus-within > button {
  color: var(--group-color-focus);
  background: var(--group-background-focus);
  border-color: var(--group-border-focus);
}

#style-1::-webkit-scrollbar {
  width: 10px;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.list__item {
  overflow: auto;
  width: 300px;
  margin-top: -34px;
}

.items-list {
  padding-left: 0;
  list-style-type: none;
  margin-top: 25px;
  width: 285px;
  overflow: auto;
  height: 420px;
  padding-top: 15px;
}

.items-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 5px;
  padding: 0 8px;
  border-radius: 5px;
  height: 35px;
  text-transform: capitalize;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  -webkit-box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
          box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}

.items-list__item:hover {
  -webkit-box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.09), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.09);
          box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.09), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.09);
}

.items-list__item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items-list input {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}

.delete__button {
  color: var(--group-color-focus);
  background: var(--group-background-focus);
  border-color: var(--group-border-focus);
  margin-left: 10px;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  font-size: 12px;
  border-radius: 5px;
}

@media screen and (min-width: 280px) and (max-width: 400px) {
  h1 {
    font-size: 20px;
  }
  ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: capitalize;
    font-size: 14px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .delete__button {
    border: none;
    color: white;
    text-align: center;
    font-size: 10px;
    padding: 2px 5px;
    font-size: 12px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background: white;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app {
  border-radius: 5px;
  border: 2px solid #8f8585;
  padding: 15px 20px 15px 15px;
  height: 490px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 320px;
}

.app h1 {
  color: var(--group-background-focus);
}
/*# sourceMappingURL=style.css.map */